# Mac OS X files
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Idea
.idea/
*.iml
*.ipr

# Dependency directories (remove the comment below to include it)
vendor/

#binary outputs
backend/out/backend-out
backend/out/assistant-out

aux-srv/out/aux-srv-out
aux-srv/out/assistant-out

file-srv/out/file-srv-out

#logs
*.log
*.log.gz

#test
load-testing/test_client/target/*

#config-srv
archive/config-srv/target/
archive/config-srv/dist/config-srv/config-srv-1.0.jar
archive/config-srv/dist/config-srv/libs/*.jar

#visual studio
.vs
platforms/win/Win32_GettingStarted/.vs/
