{{define "about-fragment"}}
<div class="page-about-content-row row">
	<div class="page-about-content-wr col-sm-12">
		<h1 class="page-about-content-title">about the service</h1>
		<div class="page-about-descr">
			<p>-&nbsp;made to be as simple as possible to communicate <span class="font-weight-bold">without restrictions and registration</span></p>
			<p>-&nbsp;chat rooms are available through unique <span class="font-weight-bold">direct URL</span> that is simple enough to be handed over by
				just <span class="font-weight-bold">pronouncing</span> it and typing into the browser address bar</p>
				<p>-&nbsp;allows communication with devices that <span class="font-weight-bold">are not logged into</span> any communication service or even just can't run browser</p>
				<p>-&nbsp;<span class="font-weight-bold">console client</span> written in Python, that allows using the interactive chat from terminal or piping other commands output into chat</p>
				<p class="page-about-check-connection-methods">check out <span class="font-weight-bold"><a href="{{.httpSchema}}://{{.domain}}/connection-methods" alt="connection methods" class="in-text-link">connection methods</a></span> page</p>
		</div>

		<div class="page-about-author">
			<p>contact - myinstantchat.adm@example.com</p>
		</div>
	</div>
</div>
{{end}}